.top-header {
  background-color: $blue-dark;

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    img,
    p {
      cursor: default;
      user-select: none;
      pointer-events: none;
    }

    p {
      font-size: $fs-15;
      font-weight: 400;
      line-height: 17px;
      color: $white;
      margin-top: -4px;
      margin-bottom: -4px;
    }

    .avatar {
      width: 52px;
      height: 52px;
      font-family: 'Plus Jakarta Sans';
      font-size: $fs-20;
      font-weight: 600;
      background-color: $white;
      color: $blue-dark;
      padding: 6px;
      border: 2px solid $white;

      &:hover {
        background-color: $gray;
        border-color: $gray;
      }
    }
  }
}
