.users {
  &-drawer {
    padding: 20px;

    &_table {
      border: 1px solid $gray;
      border-radius: 6px;

      & > div {
        display: flex;
        border-bottom: 1px solid $gray;

        &:last-child {
          border-bottom: 0;
        }
      }

      p {
        font-size: 15px;
        padding: 12px;
      }

      &_title {
        width: 150px;
        font-weight: 400 !important;
        color: $dark-gray;
        cursor: default;
        user-select: none;
      }

      &_text {
        font-weight: 500;
        // text-align: right;
      }
    }
  }
}
