.ticket-form {
  form {
    // max-width: 800px;
    padding: 24px;
    background-color: $white;
    border-radius: 16px;
    box-shadow:
      rgba(0, 0, 0, 0.04) 0px 5px 22px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .form-fields {
    input,
    textarea {
      font-size: $fs-16;
    }

    textarea {
      min-height: 140px;
      resize: vertical;
    }
  }
}
