// Colors
$text-color: #333333;
$light-gray: #f2f2f2;
$gray: #d9d9d9;
$dark-gray: #737373;
$white: #ffffff;
$background-color: #f3f6f9;

$error-red: #ff6666;

$blue-dark: #223344;
$blue: #446688;
$blue-light: #779abb;
$blue-lightest: #aac0d4;

$purple-dark: #36266b;
$purple: #674fb0;
$purple-light: #8672c0;
$purple-lightest: #a495d0;

$vz-red-light: #fee8e6;
$vz-red: #bb241a;
$vz-green-light: #ccfbef;
$vz-green: #107569;
$vz-green-success: #45a83e;
$vz-yellow-light: #fff3c6;
$vz-yellow: #b84d05;

// Font sizes
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-32: 32px;
$fs-36: 36px;
