// Colors
$text-color: #333333;
$gray: #d9d9d9;
$background-color: #ffffff;
$purple-dark: #36266b;
$purple: #674fb0;
$purple-light: #8672c0;
$purple-lightest: #a495d0;

// Font sizes
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-32: 32px;
$fs-36: 36px;
