// Utils
@import 'styles/utils/variables';
@import 'styles/utils/inputs';
@import 'styles/utils/buttons';

// Base
@import 'styles/base/reset';
@import 'styles/base/typography';

// Components
@import 'styles/components/top-header';
@import 'styles/components/header';
@import 'styles/components/footer';

// Pages
@import 'styles/pages/login';
@import 'styles/pages/projects';
@import 'styles/pages/users';

// Elements
@import 'styles/elements/custom-table';
@import 'styles/elements/badges';
@import 'styles/elements/ticket-form';
@import 'styles/elements/modals';
@import 'styles/elements/custom-drawer';

// Loader
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
  background: linear-gradient(90deg, #446688 33%, #779abb 50%, #446688 69%)
    #f2f2f2;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}
